---
layout: default
title: Home
---

{% include intro.html %}



<section class="post-list">
  <div class="container">
    <h1 class="category-title">
      Projects
    </h1>
    {% for post in site.posts %}
      
        <h2 class="category-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h2>
      <article class="post-item">
        
        <span class="post-meta date-label"><a href="{{ post.github }}" target="_blank">{% octicon mark-github class:"light" %}</a></span>
        
        <div class="article-title">{{ post.description }}</div>

        <h6>
          <em>Tags:
            {% for tag in post.tags %} 
              {{ tag }} 
            {%endfor%}
          </em>
        </h6>
      </article>
    {% endfor %}
  </div>

</section>
